# Manipulación y análisis de datos
pandas
numpy
polars
dask
datatable

# Visualización
matplotlib
seaborn
plotly
altair
bokeh
holoviews

# Machine Learning & Deep Learning
scikit-learn
xgboost
lightgbm
catboost
tensorflow
keras
torch
fastai

# Estadística y matemática
scipy
statsmodels
sympy
pingouin

# SQL y Bases de Datos
pandasql
sqlalchemy
mysql-connector-python
PyMySQL
duckdb
ibis-framework

# Otros
jupyter
notebook
ipython
tqdm
pyarrow
openpyxl
joblib

